# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/node-cache-manager-redis
    steps:
      - checkout
      - run:
          name: install make
          command: sudo apt-get update && sudo apt-get -y install gcc make
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ .Branch }}-{{ checksum "package.json" }}
          - v1-dependencies-{{ .Branch }}
          - v1-dependencies # fallback to using the latest cache if no exact match is found
      - run:
          name: Installing dependencies
          command: make deps
      - save_cache:
          paths:
          - node_modules
          key: v1-dependencies-{{ .Branch }}-{{ checksum "package.json" }}
      - run:
          name: Testing
          command: make test

  sonarqube:
    docker:
        - image: circleci/openjdk:8-jdk-browsers
    steps:
      - checkout
      - run:
          name: Sonar analysis
          command: make sonar
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - sonarqube:
          requires:
            - build
